<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta-charset>
    <title>Selected Recurring Page</title>
</head>
<body style="background-color: #383838; color: white;">
<div class="container">
    <div class="row row-space">
        <div class="col-sm">
            <h1>Selected Recurring</h1>
            <p>Name: $name</p>
            <p>Category: $category</p>
            <p>Amount: $amount</p>
            <p>Date Added: $date</p>
            <p>Frequency: $frequency</p>
            <p>Number of Occurrence: $occurrence</p>
            <p>Remarks: <br />$remarks</p>
        </div>
    </div>
</div>
</body>
</html>
