<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta-charset>
    <title>Selected Debt Page</title>
</head>
<body style="background-color: #383838; color: white; text-align: center; font-family: 'Bw Quinta Pro'">
<div class="container">
    <div class="row row-space">
        <div class="col-sm">
            <h1><b>Selected Debt</b></h1>
            <p>Person Owed: $personowed</p>
            <p>Category: $category</p>
            <p>Amount: $amount</p>
            <p>Deadline: $deadline</p>
            <p>Remarks: <br />$remarks</p>
        </div>
    </div>
</div>
</body>
</html>
