<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta-charset>
    <title>Selected Budget Page</title>
</head>
<body style="background-color: #383838; color: white;">
<div class="container">
    <div class="row row-space">
        <div class="col-sm">
            <h1>Selected Budget</h1>
            <p>Category: $category</p>
            <p>Amount: $amount</p>
            <p>Duration: $duration</p>
            <p>Total Spent: $totalspent</p>
            <p>Percentage Spent: $percentage%</p>
            <p>Remarks: <br />$remarks</p>
        </div>
    </div>
</div>
</body>
</html>
