<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta-charset>
    <title>Selected Expense Page</title>
</head>
<body style="background-color: #383838; color: white; text-align: center;">
<div class="container">
    <div class="row row-space">
        <div class="col-sm">
            <h1><b>Selected Expense</b></h1>
            <p>Name: $name</p>
            <p>Category: $category</p>
            <p>Amount: $amount</p>
            <p>Date Added: $date</p>
            <p>Remarks: <br />$remarks</p>
        </div>
    </div>
</div>
</body>
</html>
